* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  font-size: 62.5%;
  transition: all 0.3s;
}
:root {
  --line-hight: 2.5rem;
  --letter-space: 0.1rem;
  --box-shadow: 0.3rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.4);
  --padding: 1rem 1.5rem
}
#root {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}
/* --- HEADER CSS --- */
.header {
  width: 100%;
  background: linear-gradient(to left, #7dd56f, #ad9d08d7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.03);
}
.header .logo_div{
  display: flex;
}
 .header .logo_div img {
  width: 6rem;
  height: 5rem;
}
.header .logo_div h1 {
  padding-left: 1.5rem;
  line-height: 5rem;
  color: #e9e9e9;
} 
/* --- CREATE-NOTE CSS --- */
.main_note {
  width: 50rem;
  padding: 1.5rem 1rem 0.5rem 1rem;
  margin: 2rem auto;
}
.main_note form {
  min-height: 5rem;
  color: #f5f3eb;
  padding: 1.5rem 1rem 0.5rem 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.7rem;
  position: relative;
}
.main_note input {
  width: 100%;
  line-height: var(--line-hight);
  letter-spacing: var(--letter-space);
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
  border-radius: 1rem;
  padding: var(--padding);
}
.main_note textarea {
  width: 100%;
  line-height: var(--line-hight);
  letter-spacing: var(--letter-space);
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: var(--padding);
  box-shadow: 0.3rem -0.1rem 1rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

}
.main_note Button {
  height: 5.4rem;
  position: absolute;
  bottom: -2rem;
  right: 3rem;
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: 0.5rem 0.5rem 1.5rem -0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 50% !important;
  min-width: 4.2rem;
}
.main_note Button .plus_sign {
  font-size: 4rem !important;
  font-weight: 500;
  color: #7dd56f;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.main_note Button:hover {
  background: #7dd56f !important;
}
.main_note Button:hover .plus_sign {
  color: white;
  background: transparent;
}
/* --- NOTE CSS --- */
.outerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.note {
  background: white;
  border-radius: 0.7rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 0 1rem 1rem;
  width: 30rem;
  margin: 1rem;
}
.note h1 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.note p {
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn {
  position: relative;
  float: right;
  margin-right: 1rem;
  color: #ad9d08d7;
  border: none;
  height: 4.4rem;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  min-width: 3.3rem;
}
.btn .deleteIcon {
  width: 3rem;
  height: 3rem;
}
.note .btn:hover {
  background: #ad9d08d7;
}
.note .btn:hover .deleteIcon {
  color: white;
}
/* --- Footer CSS --- */
footer {
  margin-top: auto;
  text-align: center;
  color: #7dd56f;
  padding: 1.5rem 0;
  font-size: 1.7rem;
  font-weight: 600;
}
/* --- media  breakpoint ---*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .main_note {
    width: 100%;
    padding: 1rem;
  }
  .note {
    width: 100%;
    color: #10112b;
  }
}

.MuiTypography-body1 {
  color: #fff;
  font-size: 1.4rem !important;
}